:root {
  --toolbar-foreground: #1a1a1a;
  --toolbar-background: #eee;
  --code-foreground: #252525;
  --code-background: rgba(63,103,198,0.15);
  --code-border-color: #7995d7;
  --highlight-background: #fafafa;
  --highlight-foreground: #1f1f1f;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-deletion: #fdd;
  --highlight-addition: #dfd;
  --highlight-gutter-color: #252525;
  --highlight-gutter-bg-color: #f2f2f2;
  --mac-toolbar-background-color: #21252b;
  --shrink-line-foreground: #5f5f5f;
  --shrink-line-background-1: rgba(210,210,210,0.9);
  --shrink-line-background-2: rgba(225,225,225,0.6);
}
@media (prefers-color-scheme: light) {
  :root {
    --toolbar-foreground: #1a1a1a;
    --toolbar-background: #eee;
    --code-foreground: #252525;
    --code-background: rgba(63,103,198,0.15);
    --code-border-color: #7995d7;
    --highlight-background: #fafafa;
    --highlight-foreground: #1f1f1f;
    --highlight-comment: #8e908c;
    --highlight-red: #c82829;
    --highlight-orange: #f5871f;
    --highlight-yellow: #eab700;
    --highlight-green: #718c00;
    --highlight-aqua: #3e999f;
    --highlight-blue: #4271ae;
    --highlight-purple: #8959a8;
    --highlight-deletion: #fdd;
    --highlight-addition: #dfd;
    --highlight-gutter-color: #252525;
    --highlight-gutter-bg-color: #f2f2f2;
    --mac-toolbar-background-color: #21252b;
    --shrink-line-foreground: #5f5f5f;
    --shrink-line-background-1: rgba(210,210,210,0.9);
    --shrink-line-background-2: rgba(225,225,225,0.6);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --toolbar-foreground: #adbac5;
    --toolbar-background: #313842;
    --code-foreground: #b5c1cb;
    --code-background: rgba(63,103,198,0.15);
    --code-border-color: #243d79;
    --highlight-background: #1f242a;
    --highlight-foreground: #afbbc6;
    --highlight-comment: #969896;
    --highlight-red: #c66;
    --highlight-orange: #de935f;
    --highlight-yellow: #f0c674;
    --highlight-green: #b5bd68;
    --highlight-aqua: #8abeb7;
    --highlight-blue: #81a2be;
    --highlight-purple: #b294bb;
    --highlight-deletion: #700;
    --highlight-addition: #005f00;
    --highlight-gutter-color: #b1bdc8;
    --highlight-gutter-bg-color: #1f2329;
    --mac-toolbar-background-color: #1f2021;
    --shrink-line-foreground: #6c8397;
    --shrink-line-background-1: rgba(38,38,38,0.9);
    --shrink-line-background-2: rgba(52,52,52,0.6);
  }
}
.light-mode {
  --toolbar-foreground: #1a1a1a;
  --toolbar-background: #eee;
  --code-foreground: #252525;
  --code-background: rgba(63,103,198,0.15);
  --code-border-color: #7995d7;
  --highlight-background: #fafafa;
  --highlight-foreground: #1f1f1f;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-deletion: #fdd;
  --highlight-addition: #dfd;
  --highlight-gutter-color: #252525;
  --highlight-gutter-bg-color: #f2f2f2;
  --mac-toolbar-background-color: #21252b;
  --shrink-line-foreground: #5f5f5f;
  --shrink-line-background-1: rgba(210,210,210,0.9);
  --shrink-line-background-2: rgba(225,225,225,0.6);
}
.dark-mode {
  --toolbar-foreground: #adbac5;
  --toolbar-background: #313842;
  --code-foreground: #b5c1cb;
  --code-background: rgba(63,103,198,0.15);
  --code-border-color: #243d79;
  --highlight-background: #1f242a;
  --highlight-foreground: #afbbc6;
  --highlight-comment: #969896;
  --highlight-red: #c66;
  --highlight-orange: #de935f;
  --highlight-yellow: #f0c674;
  --highlight-green: #b5bd68;
  --highlight-aqua: #8abeb7;
  --highlight-blue: #81a2be;
  --highlight-purple: #b294bb;
  --highlight-deletion: #700;
  --highlight-addition: #005f00;
  --highlight-gutter-color: #b1bdc8;
  --highlight-gutter-bg-color: #1f2329;
  --mac-toolbar-background-color: #1f2021;
  --shrink-line-foreground: #6c8397;
  --shrink-line-background-1: rgba(38,38,38,0.9);
  --shrink-line-background-2: rgba(52,52,52,0.6);
}
